// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// Variables
$font-semi: 600;
$primary-color: #4070f4;
$secondary-color: #0e2431;
$dark-sec-color: #040B0F;
$white-color: #ffffff;
$bg-color: rgba(182, 182, 182, 0.144);
$font-size-h2: 1.25rem;
$font-size-normal: 0.938rem;
$border-radius: 0.5rem;
$box-shadow: 0 4px 25px rgba(14,36,49,.15);
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-5: 3rem;

// Base
*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: $secondary-color;
    background-color: $white-color;
    position: relative;
    
}

// Dark mode start
.dark-mode {
    background-color: $dark-sec-color;
    color: $white-color;
}
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        background-color: $dark-sec-color;
        color: $white-color;
    }
    .light-mode {
        color: $secondary-color;
        background-color: $white-color;
    }
}
// Dark mode ends


// General start

// Section heading
.btn {
    display: inline-block;
    background-color: $primary-color;
    color: $white-color;
    padding: .75rem 2.5rem;
    font-weight: $font-semi;
    border-radius: $border-radius;
    letter-spacing: 3px;
    transition: background-color 250ms;
    &:hover {
        background-color: darken($primary-color, 6);
    }
}
.sect-heading h2 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: $mb-5;
    &::before,
    &::after {
        content: "";
        width: 50px;
        height: 4px;
        background: $primary-color;
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }
    &::before {
        margin-right: 25px;
    }
    &::after {
        margin-left: 25px;
    }
}
.grid {
    padding: 64px 10%;
    @media screen and (min-width: 2000px) {
        width: 2000px;
        margin: 0 auto;
    }
}
// General ends

// Header start
.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    nav {
        width: 100;
        padding: 15px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white-color;
        box-shadow: 0 1px 4px rgba(146,161,176,.15);
        a {
            color: $secondary-color;
        }
        .nav-logo {
            text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.342);
        }
        .nav-list {
            // Mobile Nav view
            @media screen and (max-width: 870px) {
                position: fixed;
                top: 64px;
                right: -100%;
                width: 80%;
                height: 100%;
                padding: 2rem;
                background-color: $secondary-color;
                transition: .5s;
                &.open-menu {
                    right: 0;
                }
            }
            li {
                display: inline-block;
                margin: 0 20px;
                font-weight: $font-semi;
                position: relative;
                a:hover::after {
                    content: "";
                    width: 100%;
                    height: 0.18rem;
                    position: absolute;
                    top: 1.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $primary-color;
                }
                @media screen and (max-width: 870px) {
                    display: block;
                    margin-bottom: $mb-4;
                }
                a {
                    @media screen and (max-width: 870px) {
                        color: $white-color !important;
                    }
                }
                .active-link::after {
                    content: "";
                    width: 100%;
                    height: 0.18rem;
                    position: absolute;
                    top: 1.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $primary-color;
                }
                // Dark mode btn
                &.dark-mode-btn {
                    font-size: 22px;
                    color: $secondary-color;
                    vertical-align: middle;
                    cursor: pointer;
                    @media screen and (max-width: 870px) {
                        color: $white-color;
                    }
                }
            }
        }
        // Toggle menu
        .toggle-menu {
            cursor: pointer;
            margin-top: -6px;
            display: none;
            @media only screen and (max-width: 870px) {
                display: block;
            }
            .menu-bar {
                width: 2rem;
                height: 2px;
                background-color: $secondary-color;
                display: inline-block;
                position: relative;
                transition: background-color .5s;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    height: inherit;
                    background-color: inherit;
                    transition: all .5s;
                }
                &::before {
                    width: inherit;
                    top: -.6rem;
                }
                &::after {
                    width: 1rem;
                    top: .6rem;
                }
            }
        }
    }
}
// .open will be added when you click on the toggle menu
.open-menu .menu-bar {
    background-color: transparent !important;
}
.open-menu .menu-bar::before {
    top: 0 !important;
    transform: rotate(135deg);
    background-color: $secondary-color !important;
}
.open-menu .menu-bar::after {
    top: 0 !important;
    transform: rotate(-135deg);
    background-color: $secondary-color !important;
    width: inherit !important;
}
// .open will be added when you click on the toggle menu
// Header ends

// Home start
.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    position: relative;
    &-details {
        h1 {
            font-size: 3rem;
            margin-bottom: $mb-3;
            @media only screen and (max-width: 768px) {
                font-size: 2.5rem;
            }
            span {
                color: $primary-color;
            }
        }
    }
    &-img {
        @media only screen and (max-width: 870px) {
            display: none;
        }
        img {
            height: 400px;
            max-width: 100%;
            display: block;
        }
    }
    &-social {
        display: grid;
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1000;
        a {
            font-size: $font-size-h2;
            padding: 10px;
            background-color: $white-color;
            color: $secondary-color;
            border: 1px solid $secondary-color;
            transition: color 0.2s ease-in;
            &:hover {
                color: $primary-color;
            }
        }
    }
    &-learn-more {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        .learn-more-icon {
            font-size: 25px;
            color: $secondary-color;
            animation: learn-more-icon 0.5s ease-in infinite;
            &:hover {
                animation-play-state: paused;
            }
        }

    }
}
// Home ends

// About start
.about {
    &-content {
        display: grid;
        width: 100%;
        grid-gap: 2rem;
        align-items: center;
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2,1fr);
        }
        &-img {
            // display: grid;
            // justify-content: center;
            margin: 0 auto;
            img {
                border-radius: $border-radius;
                @media screen and (max-width: 768px){
                    width: 100%;
                }
            }
        } 
        &-details {
            letter-spacing: 2px;
            p {
                margin: $mb-2 0 $mb-3;
            }
        }
    }
}
// About ends

// Skills start
.skill {
    background-color: $bg-color;
    .skill-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: $white-color;
        color: $secondary-color;
        font-weight: $font-semi;
        padding: .5rem 1rem;
        margin-bottom: $mb-4;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        .skill-icon {
            color: $primary-color;
            font-size: 2rem;
            margin-right: $mb-2;
            vertical-align: middle;
        }
        .skill-bar {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $primary-color;
            height: .25rem;
            border-radius: $border-radius;
            transform-origin: left; /* X or left */
            opacity: 1;
            animation: skill-bar 1000ms 150ms cubic-bezier(.32, 0, .07, 1);
        }
        .skill-html {
            width: 95%;
        }
        .skill-css {
            width: 85%;
        }
        .skill-bs {
            width: 80%;
        }
        .skill-js {
            width: 50%;
        }
    }
    .skill-content-img img {
        max-width: 100%;
        height: auto;   
        border-radius: $border-radius;
    }
}
// Skills end

// Work start
.work {
    &-list {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 100%;
        .work-item {
            position: relative;
            width: 100%;
            height: 200px;
            &:hover .work-front {
                transform: rotateY(-180deg);
            }
            &:hover .work-details {
                transform: rotateY(0);
            }
            .work-side {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                visibility: visible;
                transition: all 2s ease-out;

                box-shadow: $box-shadow;
                border-radius: $border-radius;
            }
            &-img {
                width: 100%;
                height: 100%;
                border-radius: inherit;
            }
            .work-details {
                display: grid;
                align-items: center;
                grid-gap: $mb-2;
                background: $primary-color;
                padding: 2rem;
                transform: rotateY(180deg);
                p {
                    font-size: 18px;
                    color: $white-color;
                }
                .work-links {
                    display: flex;
                    justify-content: space-between;
                    a {
                        color: $white-color;
                        font-size: 3rem;
                        &:first-child {
                            transform: rotate(45deg);
                        }
                    }
                }   
            }
        }
    }
}
// Work ends

// Contact start
.contact {
    background-color: $bg-color;
    &-form {
        width: 100%;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
            width: 360px;
        }
        input, textarea {
            width: 100%;
            font-size: $font-size-normal;
            font-weight: $font-semi;
            padding: 1rem;
            border-radius: $border-radius;
            border: 2px solid $secondary-color;
            outline: none;
            margin-bottom: $mb-4;
        }
        button {
            font-size: 16px;
            outline: none;
            border: none;
            cursor: pointer;
        }
        #alert-msg {
            display: none;
            color: #dc3545 !important;
            letter-spacing: 3px;
            margin-top: $mb-2;
        }
    }
}
// Contact ends

// Footer start
.footer {
    background-color: $secondary-color;
    color: $white-color;
    text-align: center;
    padding: 40px 10%;
    a {
        color: $white-color;
    }
    &-logo  h2 {
        font-size: 27px;
    }
    &-social {
        margin: $mb-4 0;
        .footer-icon {
            margin: 0 $mb-2;
            font-size: 25px;
        }
    }

}
// Footer ends

// Keyframes
@keyframes learn-more-icon {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes skill-bar {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    17% {
        transform: scaleX(.18);
    }
    24% {
        transform: scaleX(.4);
        animation-timing-function: cubic-bezier(.9,0,.1,1);
    }
    46% {
        transform: scaleX(.81);
        animation-timing-function: cubic-bezier(.25,0,.25,1);
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}
@keyframes show-details {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
